
<nav class="navbar navbar-inverse" style="background-color:#23282e">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/about">
          <span class="fa fa-info-circle"></span> About Us
        </a>
      </li>
      <li>
        <a href="/help">
          <span class="fa fa-h-square"></span> Help
        </a>
      </li>
      <li>
        <a href="/contact">
          <span class="fa fa-reply"></span> Contact Us
        </a>
      </li>
      <li>
        <a href="/">
          <span class="fa fa-sign-out"></span> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>