<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siri Constructions Inventory Tool</title>
    <!--<link href="Content/css/Site.css" rel="stylesheet" />-->
    <link href="Content/css/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
	 
    <link href="Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.mobile.all.min.css">

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.default.min.css">
<script src="https://kendo.cdn.telerik.com/2017.3.913/js/angular.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.3.913/js/jszip.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#loading").fadeOut("slow");
        });
    </script>
    <style>
        .k-header.k-grid-toolbar
        {
            width:200px;
            height:25px;
            font:bold;
        }
        .k-grid td {
            padding: 0;
            text-align:center;
        }
		
    </style>
	
	
</head>

<body>

		<div class="row">
			<div class="col-sm-3">
			 <% include ../partials/leftMenu %>
			</div>
			<div class="col-sm-9">
			<% include ../partials/header %>
			<h3>Earth Work</h3>
			<h5>Budget Qty:</h5>
			<h5>Actual Qty:</h5>
			<div id="grid"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

		var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (e) {
						$.ajax({url: "/services/RawMaterialGroup1", type:"get",data:{groupId:1},
							success: function(result){
								var rawMaterials = result.RawMaterials;
								 e.success(rawMaterials);
							}
						});
                    },
                    create: function (e) {
					e.data.GroupId=1;
						$.ajax({url: "/services/RawMaterialGroup1/Create", type:"POST",
							data:e.data,
							success: function(result){
								e.success();
							}
						});						 
                    },
                    update: function (e) {
					var metal; 
					var sampleDataNextID;
					e.data.GroupId=1;
						$.ajax({url: "/services/RawMaterialGroup1/Update", type:"POST",
							data:e.data,
							success: function(result){
								e.success();
							}
						});
                    },
                    destroy: function (e) {
					$.ajax({url: "/services/RawMaterialGroup1/Delete", type:"POST",
							data:e.data,
							success: function(result){
								e.success();
							}
						});
                    }
                },
                error: function (e) {
                    alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                },
		
        schema: {
			model: {
			id: "RawMaterialId",
				fields: {
					RawMaterialId: { type:"number" },
					Date: { type: "date",validation: { required: true} },					
					UoM: { defaultValue: {Id:0,UoMName:"-Select-" }},
					SiteName: { type: "text",validation: { required: true}},
					Qty: { type: "number",validation: { required: true} },
					MachineryName: { type: "text",validation: { required: true} },
					Particulars: { defaultValue: { Id: 0, ParticularsName: "-Select-"} },
					Location: { defaultValue: { Id: 0, LocationName: "-Select-"},validation: { required: true} },
					SupplierName: { type: "text",validation: { required: true} },
					GroupId: { type: "number"},
					}
				}
			},
        pageSize: 20
        });

		$("#grid").kendoGrid({
		dataSource: dataSource,
        height: 550,
        scrollable: true,
        sortable: true,
        pageable: {
        input: true,
        numeric: false
        },
        toolbar: ["create"],
        columns: [
		{
        field: "Date",
        title: "Date",
        width: 70,
        height:25,
		template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
        },
        {
        field: "Particulars",
        title: "Particulars",
        width: 90,
		editor: particularsDropDownEditor, template: "#=Particulars.ParticularsName#"
        }, 
		{
        field: "MachineryName",
        title: "Machinery Name",
        height:25,
        width: 60
        },
        {
        field: "UoM",
        title: "UoM",
        height: 25,
        width: 80,
		editor: UoMNames, template: "#=UoM.UoMName#"
        },
        {
        field: "Qty",
        title: "Qty in Cum",
        height: 25,
        width: 80
        }, {
        field: "SiteName",
        title: "Site Name",
        height: 25,
        width: 70
        },
        {
        field: "Location",
        title: "Location",
        height: 25,
        width: 60,
		editor: Locations, template: "#=Location.LocationName#",
        },
        {
        field: "Chinage",
        title: "Chinage",
        height: 25,
        width: 90
        },
        { command: ["edit","destroy"], 
		
		title: "&nbsp;", width: "120px" 
		
		}],
        editable: "inline"
                    });
					
        });

		function particularsDropDownEditor(container, options) {
            $('<input name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataTextField: "ParticularsName",
                    dataValueField: "Id",
                    dataSource: {
						transport: {
                                    read: function (e) {
									$.ajax({url: "/services/particularsMasterByGroupId", type:"get",data:{groupId:1},
										success: function(result){
											var particularsMasterInfo = result.particularsMaster;
											e.success(particularsMasterInfo);
							        }
							    });
							},
						}
                    }
                });
             }

		function Locations(container, options) {
            $('<input name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataTextField: "LocationName",
                    dataValueField: "Id",
                    dataSource: {
						transport: {
                                    read: function (e) {
									$.ajax({url: "/services/locations", type:"get",
										success: function(result){
											var LocationNames = result.LocationNames;
											e.success(LocationNames);
							        }
							    });
							},
						}
                    }
                });
             }
		
		function UoMNames(container, options) {
            $('<input name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataTextField: "UoMName",
                    dataValueField: "Id",
                    dataSource: {
						transport: {
                                    read: function (e) {
									$.ajax({url: "/services/uomMasterByGroupId", type:"get",data:{groupId:1},
										success: function(result){
											var UoMNames = result.uomMaster;
											e.success(UoMNames);
							        }
							    });
							},
						}
                    }
                });
             }
    </script>

</body>
</html>