<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="css/Site.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
        <div class="card card-container">
            <label class="alert-success" id="passwordChanged"><%-message%></label><br/>	<br/>	
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/" class="btn btn-lg btn-primary">
                Login
				</a>
        </div>
		
    </div>
</body>

</html>
